<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changepassword</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3 class="text-center mb-4">Login</h3>
      <!-- <div th:if="${param.error}" class="alert alert-danger">Invalid username & password</div>
      <div th:if="${param.Logout}" class="alert alert-success">Password Changed Successfully</div> -->
      <th:block th:if="${msg}" >
                      <p class="flash-alert flash-alert-danger" th:text="${msg}"></p>
            </th:block>
      <form action="/changepassword" method="post">
       <div class="mb-3">
          <label for="currentPassword" class="form-label">Enter Current Password</label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter current password" required />
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter password" required />
        </div>
        <div class="mb-3">
          <label for="confrimPassword" class="form-label">Confirm password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required />
        </div>
        <div class="d-grid mb-3">
          <button id="submitbtn" type="submit" class="btn btn-primary">change password</button>
        </div>
        <div class="d-grid mb-3">
          <button type="button" id="btn-cancel" class="btn btn-cancel" onclick="window.location='/'">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
    </section>
</body>
</html>